<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aggregated events service</title>
</head>
<body>
<table>
    <tr th:each="searchedEvent : ${searchedEvents}" >
        <td><a th:text="${searchedEvent.title}" th:href="@{/events/} + ${searchedEvent.id}"></a></td>
        <td><a th:text="${searchedEvent.startDate}"></a></td>
        <td> - <a th:text="${searchedEvent.endDate}"></a></td>
        <td><a th:text="${#strings.abbreviate(searchedEvent.body, 50)}"></a></td>

    </tr>
</table>
</body>
</html>
