<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aggregated events service</title>
<!--    <th:block th:replace="index::headScripts"></th:block>-->
</head>
<body>

<!--<div th:include="index.html"></div>-->
<th:block th:fragment="heading">
<h2>Aggregated events service</h2>

<div th:if="${email != null}">
    You are logged as: <span th:text="${email}"></span>
    <br>
    <a th:href="@{/addEvent}" >Add event</a>
</div>

<div th:unless="${email != null}">
    <a th:href="@{/login}" >Login</a>
    <a th:href="@{/register}" >Register</a>
</div>

<br>
</th:block>

<th:block th:fragment="searching">
<form th:action="@{/find-events-by-title-part}" method="get">
    Title like: <input type="search" th:value="${titlePart}" name="titlePart" placeholder="Search by title part...">
    <div class="form-group">
        <label for="exampleFormControlSelect1">Period</label>
        <select name="period" class="form-control" id="exampleFormControlSelect1">
            <option th:value="${all}">All</option>
            <option th:value="${future}">Future</option>
            <option th:value="${presentOrFuture}">Present or Future</option>
        </select>
    </div>
    <input type="submit" value="Search Event">

</form>
</th:block>
<h4>Nearest events:</h4>
<table>
    <tr th:each="event : ${events}" >
        <td><a th:text="${event.title}" th:href="@{/events/} + ${event.id}"></a></td>
        <td><a th:text="${event.startDate}"></a></td>
        <td> - <a th:text="${event.endDate}"></a></td>
        <td><a th:text="${#strings.abbreviate(event.body, 50)}"></a></td>
    </tr>
</table>

</body>
</html>
