<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aggregated events service</title>
    <div th:include="index::head"></div>
</head>
<body>
<th:block th:fragment="heading">

<div th:include="index::headScripts"></div>


<div th:if="${email != null}">
    <div th:replace="index::Logged">
    You are logged as: <span th:text="${email}"></span>
    <br>
    <a th:href="@{/addEvent}" >Add event</a>
    </div>
</div>

<div th:unless="${email != null}">
    <div th:replace="index::notLogged">
    <a th:href="@{/login}" >Login</a>
    <a th:href="@{/register}" >Register</a>
    </div>
</div>

    <th:block th:replace="index::AES">
        <h2>Aggregated events service</h2>
    </th:block>

</th:block>

<th:block th:fragment="searching">

<form th:action="@{/find-events}" method="get">

    <th:block th:replace="index::searchingForm">

    Title like: <input type="search" th:value="${titlePart}" name="titlePart" placeholder="Search by title part...">
    <div class="form-group">
        <label for="exampleFormControlSelect1">Period</label>
         <select th:object="${periodValues}" name="selectedPeriod" class="form-control" id="exampleFormControlSelect1">
            <option th:each="period: ${periodValues}"
                    th:value="${period}"
                    th:text="${period}">
            </option>
        </select>
    </div>
    <input type="submit" value="Search Event">

    </th:block>
</form>

<h4>Nearest events:</h4>
<table>
    <tr th:each="event : ${events}" >
        <th:block th:replace="index::event">
        <td><a th:text="@{/events/{eventId}(eventId=${event.id})}"></a></td>
        <td><a th:text="${event.startDate}"></a></td>
        <td> - <a th:text="${event.endDate}"></a></td>
        <td><a th:text="${#strings.abbreviate(event.body, 50)}"></a></td>
        </th:block>
    </tr>
</table>

</body>
</html>
