<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aggregated events service</title>
</head>
<body>

<div th:include="homePage::heading"></div>

<h3 th:text="${event.title}"></h3>
<div th:text="${event.startDate}"></div>
<div th:text="${event.endDate}"></div>
<div th:text="${event.body}"></div>

<br>

<form th:action="@{/events/{eventId}/signUpForEvent(eventId=${event.id})}" method="post">
    <div th:if="${email != null}">
        <div th:if="${ifUserSignedForEvent == false}">
        <a><input type="submit" value="Sign up for the event!"></a>
        </div>
        <div th:unless="${ifUserSignedForEvent == false}">
            <a>You are signed up for this event!</a>
        </div>
    </div>
</form>

<br>
<table>
    <label>Users signed up for this event:</label>
    <tr th:each="userSigned : ${usersSignedForEvent}" >
        <td><a th:text="${userSigned.email}"></a></td>
    </tr>
</table>

<br>
<table>
    <label>Comments:</label>
    <tr th:each="comment : ${comments}" >
        <td><a th:text="${comment.commentText}"></a></td>
        <td><a th:text="${#temporals.format(comment.added, 'yyyy-MM-dd HH:mm')}"></a></td>
        <td><a th:text="${comment.email}"></a></td>
    </tr>
</table>
<br>

<div>
  <form th:action="@{/events/{eventId}/comment/add(eventId=${event.id})}" th:object="${commentFormDto}" method="post">
    Your comment: <textarea th:field="*{body}" rows="10" cols="50"></textarea>
      <p th:if="${msg != null}" th:text="${msg}"></p>
    <br>
    <input type="submit" value="Add comment">
  </form>
</div>

</body>
</html>
